*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
  font-family: "Poppins", sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

.container{
    max-width: 1200px;
    margin:0 auto;
    padding: 20px;
}

.container h1{
    margin: 20px 0;
    text-align: center;
    margin-bottom: 20px;
    font-size: 40px;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card{
    width: 32%;
    height: auto;
    object-fit: cover;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.card img{
    height: 100%;
    width: 100%;
    filter: grayscale(100%);
    box-shadow: 0 0 20px #333;
    object-fit: cover;
}

.card:hover{
    transform: scale(1.03);
    
    filter: drop-shadow(0 0 20px #333);
    transition: 0.3s;
}

.card:hover img{
    filter: grayscale(0%);
}

.card figcaption{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 25px;
    width: 100%;
    height: 20%;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    opacity: 0;
    border-radius: 0 0 10px 10px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
    transition: 0.3s;
}

.card:hover figcaption{
    opacity: 1;
    transform: scale(1.03);
}