@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap");
*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    scroll-behavior: smooth;
    font-family: "Be Vietnam Pro", sans-serif;
}

:root{
    --bgOrange: #e84949;
}

.wrapper{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.container{
    max-width: 1200px;
    margin: 0 auto;  

}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 1rem;
}
.logo-container{
    display: flex;
    justify-content: baseline;
    align-items: center;

}
.logotext{
    margin-left: -1.2rem;
    margin-top: 1.4rem;
    font-size: 28px;
    font-weight: bold;
}
#logo{
    width: 80px;
}
.nav-items{
    display: flex;
    gap: 2rem;
    padding: 0 4em;
}
.nav-items div{
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}
.nav-items div a{
    text-decoration: none;
    color: black;
}
.nav-items div:hover{
    transition: 0.8s;
    font-weight: bold;
}

.heroSection{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 5rem;
    margin: 4rem auto;
    padding: 0 1rem;
    padding-bottom: 8rem;
}

.fadedText{
    user-select: none;
    font-size: 7em;
    color: rgb(231, 231, 231);

    bottom: -16%;
    left: -5%;
    font-weight: bold;
    transition: all 3s;
    position: absolute;
}

.heroSectionLeft{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.heroSectionHeading{
    font-size: 35px;
    color: #343d68;
    font-weight: 500;
}

.role{
    color: #4e45d5;
    font-weight: 800;
}

.heroSectionSubHeading{
    font-size: 45px;
    line-height: 45px;
}

.heroSectionDescription{
    margin-top: 1rem;
    width: 70%;
    font-weight: 500;
}

.btnPink{
    background-color: #e84949;
    width: fit-content;
    padding: 0.8rem 2.3rem;
    color: white;
    font-size: 18px;
    box-shadow: 5px 5px 7px 0px #0000003f;
    font-weight: 500;
    position: relative;
    z-index: 1;
    border: 3px solid transparent;
    transition: all 0.5s;

}
.btnPink::before{
    content:"";
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.8s;
    z-index: -1;

}

.btnPink:hover::before{
    transform: scaleX(1);
}

.btnPink:hover{
    cursor: pointer;
    color: black;
}

.heroSectionRight{
    position:relative;
}
.absolute{
    position: absolute;
}
.icons{
    z-index: 1;
}
.userImage{
    padding: 2.5rem;
    transition: all 1s;
    animation: scaleImage 5s linear infinite;
}
.userImage img{
    z-index: -1;
}

@keyframes scaleImage{
    0%{
        filter: grayscale(1);
        transform: scale(1);
    }
    50%{
        filter: grayscale(0);
        transform: scale(0.9);
        box-shadow: 3px 3px 10px black;
    }
    100%{
        filter: grayscale(1);
        transform: scale(1);
    }
}

.iconDots{
    bottom: -1rem;
    right: 0;
    animation-name: dotsAnimation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes dotsAnimation{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-15px);
    }
    100%{
        transform: translateY(0px);
    }
}

.iconCube{
    top: -0.8rem;
    right: 1em;
    animation-name: cubeAnimation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes cubeAnimation{
    0%{
        transform: rotateY(0deg) translateY(0px);
    }
    50%{
        transform: rotateY(180deg) translateY(-12px);
    }
    100%{
        transform: rotateY(0deg) translateY(0px);
    }
}

.iconCircle{
    left: 0;
    bottom: 0;
    animation-name: circleAnimation;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes circleAnimation{
   
    50%{
        left: 5%;
        bottom: 10%;
    }
   
}

.iconZigzag{
    top: 1.5em;
    left: -0.3em;
    animation: zigzagAnimation 5s ease-in infinite;
}
@keyframes zigzagAnimation{
    50%{
        left: 5%;
        bottom: 2%;
    }
}

.iconPlus{
    top: -0.8rem;
    left: 50%;
    animation-name: plusAnimation;
    animation-duration: 5s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
}

@keyframes plusAnimation{
    50%{
        top: 3%;
        left: 48%;
    }
}

.projectSection{
    background-color: rgb(231, 231, 231);
    margin-top: 4rem;

}

.pageHeader{
    color: var(--bgOrange);
    font-size: 90px;
    text-align: center;
    padding-top: 30px;
}
.projectContainer{
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    gap: 120px;
}

.projectCard{
    width: 90%;
    height: 550px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    box-shadow: 0px 0px 40px #1f1f1f;
}
.projectCard::after{
    content:"";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #1f1f1f9a;
    z-index: 0;
    transform: scaleX(1);
}

.projectCard::before{
    content:"";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(45deg, #343d68, #343d68be, #343d687c);
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.4s;
    z-index: 1;
}

.projectCard:hover::before{
    transform: scaleX(1);
}

#project1{
    background-image: url(img/projects/Project1.png);
}
#project2{
    margin-left: 10%;
    background-image: url(img/projects/Project2.png);
}
#project3{
    background-image: url(img/projects/Project3.png);
}
#project4{
    margin-left: 10%;
    background-image: url(img/projects/Project4.png);
}

.projectNumber{
    position: absolute;
    font-size: 200px;
    font-weight: 600;
    color: white;
    z-index: 2;
    display: none;
}

.projectCard:hover .projectNumber{
    display: block;
}

.projectNumberLeft{
    right: -40px;
    top: -45px;
}

.projectNumberRight{
    left: -40px;
    top: -45px;
}

.projectContent{
    position: absolute;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 2em;
    bottom: 20%;
    z-index: 3;
    gap: 1em;
    transition: all 0.4s;
}

.projectCard:hover .projectContent{
    transform: scale(1.1);
}

.projectContentRight{
    right: 10%;
}
.projectContentLeft{
    left: 10%;

}

.projectSkillContainer{
    width: 60%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.projectSkill{
    width: 40px;
}

.projectHeading{
    font-size: 50px;
    font-weight: bold;
    line-height: 3rem;
}


.projectSubHeading{
    width: 70%;
    font-size: 16px;
    font-style: italic;
}

.btnGroup{
    display: flex;
    gap: 0.9rem;
    align-items: center;
}

.buttonProject{
    border: none;
}

.icon{
    cursor: pointer;
    color: white;
    font-size: 35px;
    transition: all 0.4s;
}

.icon:hover{
    color: var(--bgOrange);
}


@media (max-width:1300px) {
    .pageHeader {
      padding-top: 30px;
      color: var(--bgOrange);
      text-align: center;
      font-size: 40px;
    }
    .projectContainer {
      padding: 5px;
      margin: 10px;
      gap: 60px;
    }
    .projectCard {
      width: 100%;
      height: 300px;
    }
    .projectCard {
      background-size: cover;
      background-position: center;
    }
    .projectContent {
      scale: 0.5;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
    }
    .projectContentLeft {
      left: 0;
    }
    .projectHeading {
      font-size: 40px;
      width: 100%;
    }
    .projectSubHeading {
      width: 100%;
    }
    #project2 {
      margin-left: 0;
    }
    #project4 {
      margin-left: 0;
    }
    .projectSkillContainer {
      width: 100%;
    }
    .projectSkill {
      width: 35px;
    }
    .projectCard:hover .projectNumber {
      display: none;
    }
    .projectCard:hover .projectContent {
      scale: 0.55;
    }
  }


  .skills-container{
    position: relative;
    display: flex;
    padding: 5rem;
    margin: 10rem auto;
    gap: 30px;
  }

  .skill-container-left{
    width: 50%;
    display: flex;
    flex-direction: column;



  }

  .skill-container-right{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    gap: 2rem;
    justify-content: center;
  }

  .skill-fade-text{
    font-size: 15em;
    font-weight: bold;
    color: rgb(231, 231, 231);
    bottom: -34.5%;
    right: -25%;
    user-select: none;
    overflow-y: hidden;

  }

  .blob-style{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation: blobAnimate 3s linear infinite;
    z-index: -1;
  }

  @keyframes blobAnimate{
    50%{
        top: 54%;
        left: 56%;
    }
  }
  

  .skills-logo{
    width: 90px;
    transition: all 0.5s;
  }

  .skills-logo:hover{
    transform: scale(1.2);
  }

  .skill-heading{
    font-size: 50px;
    font-weight: bold;
    color: var(--bgOrange);
    line-height: 50px;

  }

  .caps{
    font-size: 90px;    
  }

  .skill-subHeading{
    margin-top: 1 rem;
    width: 85%;
    text-align: justify;

  }

  .skill-subHeading p{
    margin: 15px 0;
  }



  @media (max-width: 1300px) {
    .skills-container {
      margin: 0;
      padding: 2em;
      flex-direction: column;
    }
    .skill-heading {
      font-size: 40px;
      font: bold;
    }
    .caps {
      font-size: 60px;
    }
    .skill-container-left {
      width: 100%;
    }
    .skill-container-right {
      width: 100%;
    }
    .skills-logo {
      width: 50px;
    }
    .skill-fade-text {
      display: none;
    }
    .skill-subHeading {
      width: 100%;
    }
    .skill-heading::after {
      bottom: 9%;
    }
  }


  .contactus-container{
    width: 100%;
    background-color: rgb(231, 231, 231);
  }

  .contactus-heading{
    font-size: 5em;
    color: var(--bgOrange);
    padding-top: 2rem;
  }

  .contactus-subHeading{
    font-size: 3rem;
    color: #343d68aa;
    text-transform: capitalize;
  }

  .contactus-form-container{
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;    
  }

  .form{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 70%;
    margin: 2rem 5rem;
  }

  .formfield-container{
    width: 100%;
  }
  .formfield{
    width: 100%;
    height: 42px;
    padding: 0 2rem;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #1f1f1f;
    background: #ffffff97;
    font-weight: 500;
    border: none;
  }

  .formfield:focus {
    border: none;
  }

  .formfield-textarea{
    height: auto;
    padding-top: 1rem;
  }

  #submit-btn{
    border: none;
    font-size: 1.4rem;
    margin: 1rem 0;
  }

  #submit-btn:hover{
    scale: 0.9;

  }

  .submit-icon{
    padding: 0 1rem;
    font-size: 1.3rem;
  }


  @media (max-width: 1300px) {
    .contactus-heading {
      font-size: 40px;
      text-align: center;
      padding: 15px 10px;
    }
    .contactus-subHeading {
      font-size: 20px;
      padding: 0 10px;
      text-align: center;
    }
    .form {
      width: 100%;
      margin: 0;
      align-items: center;
    }
    .formfield-container {
      display: flex;
      align-items: center;
      width: 90%;
    }
    .formfield {
      width: 90%;
    }
  }


  footer{
    position: relative;
    margin-top: -1px;
    background-color: #343d68;
    padding: 5rem;
  }

  .footer-wrapper{
    display: flex;
    gap: 1rem;
    padding: 1.2rem;
    justify-content: space-between;
    align-items: center;

  }

  .link-wrapper{
    display: flex;
    gap: 1.2rem;

  }

  .link-wrapper div a{
    color: white;
    text-decoration: none;
    transition: all 0.6s;
  }

  .link-wrapper div a:hover{
    color: var(--bgOrange);
  }

  .icon-wrapper{
    display: flex;
    gap: 1rem;
  }

  .footer-faded-text{
    position: absolute;
    bottom: 0;
    left: 0;
    user-select: none;
    font-size: 5em;
    color: #535c87;    
    font-weight: bold;
  }
