@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Be Vietnam Pro", sans-serif;
}

.wrapper{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.container{
    width: 100%;
    margin: 0 auto;  

}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 1rem;
}
.logo-container{
    display: flex;
    justify-content: baseline;
    align-items: center;

}
.logotext{
    margin-left: -1.2rem;
    margin-top: 1.4rem;
    font-size: 28px;
}
#logo{
    width: 80px;
}
.nav-items{
    display: flex;
    gap: 2rem;
    padding: 0 4em;
}
.nav-items div{
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}
.nav-items div a{
    text-decoration: none;
    color: black;
}
.nav-items div:hover{
    transition: 0.8s;
    font-weight: bold;
}

